---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import ProjectCard from "../components/project_card.astro";
import LinkCard from "../components/link_card.astro";

const linksRaw = await getCollection("links");
const links = linksRaw.sort((a, b) => a.data.order - b.data.order);
const projects = await getCollection("projects");
const vita = await getCollection("vita");
---

<Layout title="Nick Hermann">
  <main class="flex flex-col align-middle prose">
    <h1 class="text-center ">Nick Hermann</h1>
    <div class="w-full flex flex-col">
      {
        links.map((link, index) => (
          <LinkCard link={link} isPrimary={index === 0} />
        ))
      }
    </div>
    <div class="h-6"></div>
    <h2 class="text-center">Projekte</h2>
    {projects.map((project) => <ProjectCard project={project} />)}
    <div class="h-6"></div>
    <h2 class="text-center">Vita</h2>
    {
      vita.map((entry) => (
        <div class="card mb-3">
          <figure>
            <Image
              class="h-20 object-contain"
              src={entry.data.image}
              alt={entry.data.title}
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">{entry.data.title}</h2>
            <p>{entry.data.endDate + " - " + entry.data.startDate}</p>
          </div>
        </div>
      ))
    }
  </main>
</Layout>
