---
import Layout from '../layouts/Layout.astro';
import 'bootstrap/dist/css/bootstrap.min.css';
import { Badge, Button,Card } from 'react-bootstrap';
import {getCollection, z, type CollectionEntry} from "astro:content"
import { Image } from 'astro:assets';


const links = await getCollection("links");
const projects = await getCollection("projects");
const vita = await getCollection("vita");
---

<Layout title="Welcome to Astro.">
	
	<main class="flex flex-col align-middle">
		<h1 class="text-center">Nick Hermann</h1>
		{links.map((link) => (
			<Button variant='outline-secondary' className='mb-2' href={link.data.url}>
				<div class="flex flex-row justify-between">
					<Image src={link.data.icon} alt={link.data.text} height={24}/>

					{link.data.text}
					<Image class="opacity-0" src={link.data.icon} alt={link.data.text} height={24}/>
				</div>
			</Button>
		))}
		<div class="h-4"></div>
		<h2 class="text-center">Projects</h2>
		{projects.map((project) => (
			<Card className='mb-2'>
				<Card.Body>
					<Card.Title>{project.data.title}</Card.Title>
					<Card.Text>{project.data.description}</Card.Text>
					{project.data.tags.map((tag) => (
						<Badge  className='mr-2'>{tag}</Badge>
					))}
				</Card.Body>
			</Card>
		))}
		<div class="h-4"></div>
		<h2 class="text-center">Vita</h2>
		{vita.map((entry) => (
			<Card className='mb-2'>
				<Card.Body>
					<Card.Title>{entry.data.title}</Card.Title>
					<Image class='h-20 object-contain' src={entry.data.image} alt={entry.data.title}></Image>
					<Card.Text>{entry.data.startDate + " - " + entry.data.endDate }</Card.Text>
					
				</Card.Body>
			</Card>
		))}
	</main>
</Layout>

